<div
  class="flex flex-col justify-center bg-clip-border shadow-3xl shadow-shadow-500  p-4 rounded-[20px] card-body animate__animated animate__fadeIn"
  [ngClass]="customClasses()"
>
  <div class="flex items-center">
    @if (cardIcon()) {
      <div class="pl-2 pr-1">
        <app-svg-icon
          class="flex text-primary bg-[#F4F7FE] p-2 rounded-[20px]"
          [ngClass]="cardIcon()?.iconClasses"
          [iconPath]="cardIcon()!.iconPath"
        ></app-svg-icon>
      </div>
    }

    <p class="text-sm font-semibold text-[#1B254B]" [ngClass]="cardTitle()?.titleClasses">
      {{ cardTitle()!.titleText }}
    </p>
  </div>
  <div class="sm:p-4">
    <ng-content></ng-content>
  </div>
</div>
