:host {
  display: block;
}

.bg-lightPrimary {
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 254 / var(--tw-bg-opacity));
}

.text-brand-500 {
  --tw-text-opacity: 1;
  color: rgb(66 42 251 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(163 174 208 / var(--tw-text-opacity));
}

.text-navy-700 {
  --tw-text-opacity: 1;
  color: rgb(27 37 75 / var(--tw-text-opacity));
}
