<div class="overflow-x-auto">
  <div
    class="min-w-screen flex items-center justify-center font-sans overflow-hidden"
  >
    <div class="w-full m-2">
      <div class="bg-white shadow-md rounded">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr
              class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal"
            >
              @for (column of table().columns; track $index) {
                <th class="py-3 px-6 text-left">
                  {{ column.label | translate }}
                </th>
              }
              @if (table().actions) {
                <th class="py-3 px-6 text-center">Actions</th>
              }
            </tr>
          </thead>
          <tbody class="text-gray-600 text-xs font-light">
            @for (row of table().data; track $index; let isEven = $even) {
              <tr
                class="border-b border-gray-200 hover:bg-gray-100"
                [ngClass]="!isEven ? 'bg-gray-50' : ''"
              >
                @for (
                  column of table().columns;
                  track $index;
                  let isFirst = $first
                ) {
                  <td class="py-3 px-6 text-left whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="mr-2">
                        <!-- icon -->
                      </div>
                      <span
                        [ngClass]="{
                          'font-medium': isFirst,
                          'font-light': !isFirst,
                        }"
                      >
                        {{ row[column.name] }}
                      </span>
                    </div>
                  </td>
                }
                @if (table().actions) {
                  <td class="py-3 px-6 text-center">
                    <div class="flex item-center justify-center">
                      <div
                        class="w-4 mr-2 transform hover:text-secondary hover:scale-110"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                          />
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                          />
                        </svg>
                      </div>
                      <div
                        class="w-4 mr-2 transform hover:text-secondary hover:scale-110"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                          />
                        </svg>
                      </div>
                      <div
                        class="w-4 mr-2 transform hover:text-secondary hover:scale-110"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                          />
                        </svg>
                      </div>
                    </div>
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      </div>

      @if (table().paginator) {
        <div class="mt-6 sm:flex sm:items-center sm:justify-between">
          <div class="text-sm text-gray-500">
            {{ 'Page' | translate }} <span class="font-medium text-gray-700">1 {{ 'of' | translate }} 10</span>
          </div>

          <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
            <a
              href="#"
              class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 rtl:-scale-x-100"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
                />
              </svg>

              <span> {{ 'Previous' | translate}} </span>
            </a>

            <a
              href="#"
              class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100"
            >
              <span> {{ 'Next' | translate }} </span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-5 h-5 rtl:-scale-x-100"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                />
              </svg>
            </a>
          </div>
        </div>
      }
    </div>
  </div>
</div>
