<app-horizon-card
  [cardTitle]="cardTitle()"
  [cardIcon]="cardIcon()"
  [customClasses]="horizonCardCustomClasses()"
>
  <!-- List Content -->
  <ul class="divide-y divide-gray-200">
    <li
      *ngFor="let item of items()"
      class="animate__animated animate__fadeInUp"
    >
      <div
        class="animated-shrink flex items-center justify-between py-3 hover:bg-gray-50 transition duration-150 ease-in-out"
      >
        <div class="flex items-center space-x-4">
          <div
            class="flex items-center justify-center rounded-full bg-[#F4F7FE] p-2 text-secondary font-bold shadow"
          >
            @if (item.icon) {
              <app-svg-icon
                class="mr-3"
                [svgSizeClass]="'w-4 h-4'"
                iconPath="/icons/user.svg"
              ></app-svg-icon>
            } @else {
              <span> TV </span>
            }
          </div>

          <p class="text-xs font-ligth">
            {{ item.text }}
          </p>
        </div>

        @if (item.status) {
          <span
            class="flex items-center justify-center w-20 h-7 rounded-full text-xxs font-medium border"
            [ngClass]="{
              'text-primary bg-primary/20': item.status === 'Success',
              'text-yellow-600 bg-quaternaryWarning/20':
                item.status === 'Warning',
              'text-tertiaryDanger bg-tertiaryDanger/20':
                item.status === 'Error',
            }"
          >
            {{ getStatusText(item.status) | translate }}
          </span>
        }
      </div>
    </li>
  </ul>
</app-horizon-card>
