@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #1B254B !important;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1)) /* #f3f4f6 */;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.scrollable {
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  html,
  body {
    height: auto;
    overflow: visible;
  }
}

.text-gradient-primary {
  background: linear-gradient(to right, rgba(0, 74, 173, 1), rgba(0, 133, 194, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-quaternary {
  background: linear-gradient(to right, rgba(255, 204, 0, 1), rgba(255, 111, 97, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-tertiary {
  background: linear-gradient(to right, rgba(255, 90, 97, 1), rgba(211, 47, 47, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
