<app-horizon-card
  [cardTitle]="cardTitle()"
  [cardIcon]="cardIcon()"
  [customClasses]="horizonCardCustomClasses()"
>
  <!-- List Content -->
  <ul
    class="divide-y divide-gray-200 scrollable px-2"
    [ngClass]="customClasses()"
  >
    @for (item of items()!.data; track $index) {
      <li
        class="animate__animated animate__fadeInUp"
        [ngClass]="items().customClasses"
      >
        <div
          class="animated-shrink flex items-center justify-between py-3 hover:bg-gray-50 transition duration-150 ease-in-out"
        >
          <div class="flex items-center space-x-4">
            <div
              class="relative flex items-center justify-center rounded-full bg-secondary-primary-gradient p-2 text-white font-bold shadow h-9 w-9"
            >
              @if (item['icon']) {
                <app-svg-icon
                  class="mr-3"
                  [svgSizeClass]="'w-4 h-4'"
                  iconPath="{{ item['icon'] }}"
                ></app-svg-icon>
              } @else if (item['name']) {
                <span> {{ getInitials(item['name']) }} </span>
              }
              @if (item['status']) {
                <span
                  class="absolute bottom-0 right-0 block h-2.5 w-2.5 rounded-full"
                  [ngClass]="
                    item['status'] === 'Offline'
                      ? 'bg-red-500'
                      : 'bg-emerald-500'
                  "
                ></span>
              }
            </div>

            <p class="text-xs font-semibold text-gray-600 w-4">
              @if (item['name']) {
                {{ item['name'] }}
              }
            </p>
          </div>

          @if (item['status']) {
            <span
              class="flex items-center justify-center w-20 h-7 rounded-full text-xxs font-medium border"
              [ngClass]="{
                ' text-primary bg-primary/20': item['status'] === 'Online',
                'text-yellow-600 bg-quaternaryWarning/20':
                  item['status'] === 'Busy',
                'text-tertiaryDanger bg-tertiaryDanger/20':
                  item['status'] === 'Offline',
              }"
            >
              {{ item['status'] | translate }}
            </span>
          }
        </div>
      </li>
    }
  </ul>
</app-horizon-card>
